body {
    padding-top: 0px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.navbar {
    color: #333;
    margin-bottom: 0;
}

.navbar a {
    color: #333;
    line-height: 32px;
}

.navbar-header {
    padding: 15px;
}

.navbar-nav li a {
    line-height: 32px;
}

.nav > li > a:hover, .nav > li > a:focus {
    background: none;
    text-decoration: underline;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.login h2 {
    text-align: center;
}

.login-logo {
    text-align: center;
}

#login-form {
    margin: 20px auto;
    max-width: 100%;
    width: 400px;
    border: 1px solid #333;
    border-radius: 3px;
}

.login-table {
    
}

.login-table .form-header-td {
    width: 110px;
    text-align: right;
    padding: 5px;
}

.login-table .form-control-td {
    width: 270px;
    padding: 5px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}